 /* Dropdown Button */
 .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 32px;
  border: none;
  margin-left: 4vw;
  margin-right: 4vw;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 10px;
  max-width: 11vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

.dropDownLogo{
  height: 35%;
  width: 35%;
}

.navBar{
  display: inline-flex;
  list-style-type: none;
  text-align: center;
  align-items: center;
  padding: 16px;
  border: none;
  position: fixed;
  top: 0;
  background-color: rgba(34, 28, 28, 0.9);
}

.navLinks{
  text-align: center;
  display: inline;
  margin-right: 4vw;
  margin-left: 4vw;
  font-size: 2em;

  background-color: grey;
  color: white;
  padding: 16px;
  border: none;
}

.jumbotron{
  background-image: url(bkgd.jpg);
  margin-top: 10vh;
  max-height: 100vh;
  background-size: cover;
}

.sectionSeparator{
  height: 10vh;
  display: flex;
  flex-wrap: wrap;

}

.rectangle{
  flex: 1 0 16.66%
}

.aboutMe{
  display: flex;
}

.aboutMePics{
  text-align: center;
}

.testimonialDiv{
  display: flex;
  text-align: center;
}